{% if is_granted('ROLE_ADMIN') and app.user.username != participant.email %}
<form method="post" action="{{ path('participant_delete', {'id': participant.id}) }}"
      onsubmit="return confirm('Etes-vous sûr(e)?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ participant.id) }}">
    <button class="btn btn btn-danger">Delete</button>
</form>

{% endif %}