{% extends 'base.html.twig' %}

{% block title %}Edit Participant{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
    <h1 class="text-center">Modifier un participant</h1>
    {% else %}
    <h1 class="text-center">Modifier votre profil</h1>
    {% endif %}
    {{ include('participant/_form.html.twig', {'button_label': 'Update'}) }}


<div class="row justify-content">
    <div class="col" >
        {{ include('participant/_delete_form.html.twig') }}
    </div>
</div>



{% endblock %}
