{% extends 'base.html.twig' %}

{% block body %}

    <form action="{{ path('app_importCsvFile') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="csv" value="" />
        <input type="submit" name="submit" value="Save" /></form>

{% endblock %}