<form method="post" action="{{ path('campus_delete', {'id': c.id}) }}" onsubmit="return confirm('Etes-vous sûr(e)?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ c.id) }}">
    <button class="btn btn-primary">Supprimer</button>
</form>