{% extends 'base.html.twig' %}

{% block title %}Edit Sortie{% endblock %}

{% block body %}
    <h1>Edit Sortie</h1>

    {{ include('sortie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('accueil') }}">back to list</a>

{% endblock %}
