{% extends 'base.html.twig' %}

{% block title %}Edit Sortie{% endblock %}

{% block body %}
    <h1 class="text-center">Modifier une sortie</h1>

    {{ include('sortie/_edit_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('sortie_delete', {'id':sortie.id}) }}" class="btn btn-primary">Annuler la sortie</a>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('asset/js/jquery.js') }}"></script>

{% endblock %}