<h3>Liste des participants inscrits</h3>

<table>
    <tr>
        <th>Pseudo</th>
        <th>Nom</th>
    </tr>
    {% for participant in sortie.sortieParticipants %}
        <tr>
            <td>{{ participant.participant.pseudo }} </td>
            <td><a href="{{ path('participant_show', {'id': participant.participant.id}) }}">{{ participant.participant.nom }}</a> </td>
        </tr>
    {%  endfor %}

</table>