<h3>Liste des participants inscrits</h3>

<table>
    <tr>
        <th>Pseudo</th>
        <th>Nom</th>
    </tr>
    {% for participant in sortie.sortieParticipants %}
    <tr>

            <td>{{ participant.participant.pseudo }} </td>
            <td>{{ participant.participant.nom }} </td>

    </tr>
    {%  endfor %}

</table>