{% extends 'base.html.twig' %}

{% block title %}New Sortie{% endblock %}

{% block body %}
    <h1>Create new Sortie</h1>

    {{ include('sortie/_form.html.twig') }}

    <a href="{{ path('accueil') }}">back to list</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">


        var $collectionHolderLieu;
        var $addLieuButton = $('<div><button type="button" class="add_lieu_link btn">Ajouter un nouveau lieu</button></div>');
        var $newLinkLiLieu = $('<li></li>').append($addLieuButton);
        //

        $(document).ready(function() {

            $collectionHolderLieu = $('ul.lieu');
            $collectionHolderLieu.find('li').each(function() {
                addLieuFormDeleteLink($(this));
            });
            $collectionHolderLieu.append($newLinkLiLieu);
            $collectionHolderLieu.data('lieuIndex', $collectionHolderLieu.find(':input').length);

            $addLieuButton.on('click', function(e) {
                // add a new Socity form (see next code block)
                addLieuForm($collectionHolderLieu, $newLinkLiLieu);
            });

        });

        function addLieuForm($collectionHolderLieu, $newLinkLiLieu) {
            // Get the data-prototype explained earlier
            var lieuPrototype = $collectionHolderLieu.data('prototype-lieu');

            // get the new index
            var index = $collectionHolderLieu.data('lieuIndex');

            var newForm = lieuPrototype;
            // You need this only if you didn't set 'label' => false in your Socitys field in TaskType
            // Replace '__name__label__' in the prototype's HTML to
            // instead be a number based on how many items we have
            // newForm = newForm.replace(/__name__label__/g, index);

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            newForm = newForm.replace(/player/g, index);
            console.log(newForm);


            // increase the index with one for the next item
            $collectionHolderLieu.data('lieuIndex', index + 1);

            // Display the form in the page in an li, before the "Add a Socity" link li
            var $newLieuFormLi = $('<li><h3>Lieu</h3></li>').append(newForm);
            $newLieuFormLi.append($addLieuButton);

            $newLinkLiLieu.before($newLieuFormLi);
            addLieuFormDeleteLink($newLieuFormLi);
            //surrpimer l'ajout de lieu
            // $addLieuButton.remove();
        }

        function addLieuFormDeleteLink($lieuFormLi) {
            var $removeFormButton = $('<button type="button" class="btn">Annuler nouveau lieu</button>');
            $lieuFormLi.append($removeFormButton);

            $removeFormButton.on('click', function(e) {
                // remove the li for the tag form
                $lieuFormLi.remove();


            })
        }
    </script>
{% endblock %}