<form method="post" action="{{ path('ville_delete', {'id': v.id}) }}" onsubmit="return confirm('Etes-vous sûr(e)?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ v.id) }}">
    <button class="btn btn-primary">Supprimer</button>
</form>