<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title">Votre compte sur Sortir.com</h5>
        <p class="card-text">Bonjour, vous venez d'être inscrit(e) sur le site Sortir.com. Afin de procéder à la finalisation de votre inscription, merci de cliquer sur ce lien pour définir votre mot de passe : </p>
        <a href="http://localhost{{ path('resetPwd',{'token':token}) }}" class="btn btn-primary">Valider mon inscription</a>
    </div>
    <div class="card-footer text-muted">L'équipe Sortir.com</div>
</div>
</body>
</html>