<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Votre nouveau mot de passe</h5>
                <p class="card-text">Vous avez demandé la réinitialisation de votre mot de passe, cliquez sur ce bouton pour le regénérer : </p>
                <a href="http://localhost{{ path('resetPwd',{'token':token}) }}" class="btn btn-primary">Réinitialiser mon mot de passe</a>
            </div>
            <div class="card-footer text-muted">L'équipe Sortir.com</div>
        </div>
    </body>
</html>