{% extends 'base.html.twig' %}

{% block title %}Entrez votre adresse e-mail{% endblock %}

{% block body %}
    <h3>Réinitialisez votre mot de passe</h3>
    <form action="{{ path('sendPasswordEmail') }}">
        <label>
            <input type="email" name="email" id="inputEmail" class="form-control" required autofocus>
        </label>
        <input type="submit" value="Envoyer">
    </form>
{% endblock %}