<footer class="page-footer font-small bg-dark fixed-bottom">
    <div class="footer-copyright text-center py-3" style="color: white">© 2020 Copyright:
        <a style="color: white" href="{{ path('accueil') }}"> Sortir.com</a>
    </div>
</footer>
